body{
      margin: 0px;
    }

    .container {
      background-color: hsl(268, 42%, 94%);
      /* background-color: #eee; */
      display: flex;
    }
    
    .page {
      background-color: hsl(270, 37%, 91%);
      /* background-color: #ddd; */
      height: 100vh;
      width: 100vw;
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .sidebar {
      background-color: hsl(269, 45%, 90%);
      /* background-color: #ddd; */
      height: 100vh;
      width: 300px;
      display: flex;
      padding-top: 20px;
      flex-direction:column;
    }

    .sidebar a {
      font-size: 25px;
      text-decoration: none;
      color: black;
      padding: 5px;
      border-radius: 10%;
      box-shadow: 1px 1px 1px 0px rgb(132, 80, 165);
      margin: 10px;
      text-align: center;
    }