body{
      margin: 0px;
    }

    .container {
      background-color: hsl(60, 1%, 62%);
      display: flex;
    }
    
    .page {
      background-color: hsl(60, 10%, 90%);
      width: 100vw;
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .sidebar {
      background-color: hsl(60, 10%, 90%);
      height: 100vh;
      width: 300px;
      display: flex;
      padding-top: 20px;
      flex-direction:column;
    }

    .sidebar a {
      font-size: 25px;
      text-decoration: none;
      color: black;
      padding: 5px;
      border-radius: 10%;
      box-shadow: 1px 1px 1px 0px hsl(60, 1%, 80%);
      margin: 10px 20px;
      text-align: center;
    }